//colors
$gray: #333333;
$white: #ffffff;
$blue: #b5d0e2;
$darkBlue : #2099e8;

//navigation colors
$nav-background: $gray;
$nav-text-menu: $white;

//clock varialbles
$clock-text-color: $white;
$clock-bg-color: $blue;
$clock-border-color: $darkBlue;